.per-con{
	width:7.5rem;
	height:12.24rem;
	    overflow: auto;
}
.big-box{
	width:7.5rem;
	height:auto;
}
header{
	width:7.5rem;
	height:4.5rem;
	background:url(../img/di.jpg)no-repeat top right;
	background-size:100% ;
	position:relative;
}
.head{
	width:7.5rem;
	height:1rem;
	display: flex;
	justify-content: space-between;
	align-items:center;
	padding:0.2rem;
	box-sizing:border-box;
	position: absolute;
	z-index: 9;
}
.head span{
	font-size:0.4rem;
	color:#FFFFFF;
}
.head img{
	width:0.5rem;
}
header .mess{
	width:7.5rem;
	height:2.5rem;
	position:absolute;
	bottom:0;left:0;
	box-sizing:border-box;
	padding:0 0.3rem;
	display: flex;
	align-items: center;
}
header .mess .tou{
	width:1.5rem;height:1.5rem;background:url(../img/di.jpg) no-repeat center right;
	background-size:250% ;
	margin-right:0.3rem;
	border-radius: 100%;
}
header .mess .xinxi p{
	font-size:0.3rem;
	color:#FFFFFF;
}
header .mess .xinxi p:nth-child(1){
	margin-top:0.1rem;
}
header .mess .xinxi p:nth-child(2){
	margin-top:-0.4rem;
}
header .mess .xinxi p:nth-child(2) img{
	width:0.3rem;
	margin-top:0.4rem;
	margin-right:0.2rem;
}
.fenge,.zuji{
	width:7.5rem;
	height:2rem;
	border-bottom:3px solid #ccc;
}
.fenge .fenge-hang{
	width:7.5rem;
	height:1rem;
	display:flex;
    border-bottom:1px solid #ccc;
}
.fenge .fenge-hang:nth-child(2){
	border:0;
}
.fenge .fenge-hang .xiaoge{
	 width:1.9rem;
	 height:1rem;
	 box-sizing:border-box;
	 border-right:1px solid #ccc;
	 text-align: center;
	 line-height: .5rem;
}
.fenge .fenge-hang .xiaoge:last-child{
	 border-right:0;
}
.fenge .fenge-hang .xiaoge p{
	font-size:0.3rem;
}
.fenge .fenge-hang .xiaoge p:nth-child(1){
	color:#007AFF;
}
.zuji .zuji-my{
	width:7.5rem;
	height:0.8rem;
	display: flex;
	align-items: center;
	justify-content: space-between;
	box-sizing:border-box;
	padding:0 0.2rem;
	border-bottom:1px solid #ccc;
}
.zuji .zuji-my strong,.per-choice strong{
	font-size:0.35rem;
}
.zuji .zuji-my p,.per-choice p{
	font-size:0.2rem;
}
.zuji .zuji-my span{
	font-size:0.2rem;
	color:orangered;
}
.zuji .zui-juti{
	width:7.5rem;
	height:0.8rem;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	box-sizing:border-box;
	padding:0 0.3rem;
}
.contory{
	width:2rem;
	height:0.8rem;
	display: flex;
	align-items: center;
	justify-content: flex-start;
}
.contory img{
	width:0.5rem;
	margin-right: 0.1rem;
}
.contory span{
	font-size:0.3rem;
	margin-right: 0.1rem;
}
.contory span:nth-child(2){
	color:orangered;
}
.zuji .zongxing{
	font-size: 0.2rem;
	width:7.5rem;
	height:0.4rem;
	box-sizing:border-box;
	padding:0 0.2rem;
}
.per-choice{
	width:7.5rem;
	height:0.8rem;
	box-sizing:border-box;
	padding:0 0.2rem;
	border-bottom:1px solid #ccc;
	display: flex;
	justify-content: space-between;
	align-items: center;
}